.statistics-nav {
  display: flex;
  flex-direction: column;
  gap: var(--middle-gap);
  font-size: var(--text);
  line-height: 1.2;

  &__link {
    color: var(--light);
    white-space: nowrap;
    text-decoration: none;
    padding: 12px;
    transition: all 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--middle-gap);
    border-radius: 4px;

    &:hover {
      color: var(--accent);
    }

    &_active {
      background-color: var(--accent);
      color: var(--dark);

      &:hover {
        color: var(--dark)
      }
    }

    &_google {
      color: var(--light);
      padding: 12px;
      transition: all 0.2s ease;

      &:hover {
        color: var(--accent)
      }
    }
  }
}

// .statistics-nav {
//   font-size: var(--text);
//   line-height: 1.2;

//   &__link {
//     // color: var(--accent);
//     // width: 100%;
//     // display: block;
//     // white-space: nowrap;
//     // text-decoration: none;
//     // padding: 12px;
//     // transition: all 0.2s ease;

//     padding: 12px;
//     text-decoration: none;
//     transition: all 0.2s ease;
//     color: var(--light);
//     white-space: nowrap;
//     border: 1px solid var(--accent);
//     border-radius: 4px;
//     display: flex;
//     gap: var(--small-gap);

//     &_active {
//       padding: 12px;
//       text-decoration: none;
//       transition: all 0.2s ease;
//       color: var(--light);
//       border: 1px solid var(--accent);
//       border-radius: 4px;
//       display: flex;
//       gap: var(--small-gap);
//     }

//     &:hover {
//       color: var(--accent);
//       opacity: 0.8;
//     }
//   }

//   &__nav {
//     // display: flex;
//     // justify-content: flex-start;
//     // align-items: center;
//     // gap: var(--middle-gap);
//     // flex-wrap: wrap;
//     // border-radius: 4px;
//     // overflow: hidden;

//     &-link {
//       // padding: 12px;
//       // text-decoration: none;
//       // transition: all 0.2s ease;
//       // color: var(--light);
//       // border: 1px solid var(--accent);
//       // border-radius: 4px;
//       // display: flex;
//       // gap: var(--small-gap);

//       &:hover {
//         background-color: var(--accent);
//         color: var(--dark);
//       }

//       &_active {
//         background-color: var(--accent);
//         color: var(--dark);
//       }
//     }
//   }
// }
