.statistics-nav {
  display: flex;
  flex-direction: column;
  gap: var(--middle-gap);
  font-size: var(--text);
  line-height: 1.2;

  &__line {
    width: 100%;
    border-color: var(--light);
  }

  &__link {
    color: var(--light);
    white-space: nowrap;
    text-decoration: none;
    padding: var(--small-gap);
    transition: all 0.2s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--middle-gap);
    border-radius: var(--border-radius);
    max-height: 42px;

    &:hover {
      color: var(--accent);
    }

    &_active {
      background-color: var(--accent);
      color: var(--dark);

      &:hover {
        color: var(--dark)
      }
    }

    &_google {
      color: var(--light);
      padding: 0 var(--small-gap) var(--small-gap);
      transition: all 0.2s ease;

      &:hover {
        color: var(--accent)
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .statistics-nav {
    width: 100%;
  }
}
