* {
    box-sizing: border-box;
    /* outline: 1px dotted lightseagreen; */
    transition: all 0.1s ease-in-out;
}

.page {
    font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
    background-color: #282831;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.page::before {
  content: '';
  width: 250vw;
  height: 1vh;
  position: absolute;
  background-color: rgba(10, 10, 10, 0.1);
  z-index: -1;
  animation: rotation 90s infinite;
  top: 50%;
  left: -130%;
  transform: translate(-50%, -50%);
}

.page::after {
  content: '';
  width: 200vw;
  height: 1vh;
  position: absolute;
  background-color: rgba(10, 10, 10, 0.1);
  z-index: -1;
  animation: rotation 120s infinite;
  top: 30%;
  left: 10px;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}