* {
  box-sizing: border-box;
  /* outline: 1px dotted lightseagreen; */
  transition: all 0.1s ease-in-out;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.page {
  font-family: 'Roboto', sans-serif;
  background-color: #282831;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  overflow: hidden;
}

.page::before {
  content: "";
  width: 200vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: -1;
  animation: rotation 70s infinite;
  top: 50%;
  right: -50%;
  transform: translate(-50%, -50%);
  border: 1px solid #3398dc11;
}

.page::after {
  content: "";
  width: 200vw;
  position: absolute;
  background-color: rgba(10, 10, 10, 0.1);
  z-index: -1;
  animation: rotation2 120s infinite;
  top: 50%;
  left: -50%;
  transform: translate(-50%, -50%);
  border: 3px solid #3398dc11;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotation2 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}
