.form__button {
  display: none;
  min-width: 100px;
  width: 20%;
  height: 100%;
  padding: 10px 0;
  background-color: transparent;
  color: white;
  border: 0;
  border-bottom: 2px solid gray;
  border-radius: 0px 10px 0px 0px;
}

.form__button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2)
}

.form__button:active, .form__button:focus {
  outline: 0;
}