.form__details-model {
  display: inline-block;
  position: relative;
  padding: 10px 10px 20px;
  margin: 0 10px;
  border-radius: 10px;
  border-bottom: 2px solid transparent;
}

.form__details-model:hover {
  cursor: pointer;
  color: rgba(0, 255, 106, 1);
  background-color: rgba(0, 0, 0, 0.5);
}

.form__details-model:active {
  border-color: #3398dc;
  background-color: rgba(0, 0, 0, 0.5);
}

.form__details-model::after {
  font-style: italic;
  content: "Доступно";
  width: 100px;
  text-align: center;
  color: rgba(0, 255, 106, 1);
  font-size: 14px;
  line-height: 1.2;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0%);
}
