.form__reset {
  background-color: rgba(0, 0, 0, 0.3);
  border: 0;
  border-bottom: 2px solid transparent;
  color: white;
  border-radius: 10px;
  padding: 0 25px;
  margin-right: 10px;
  /* display: none; */
}

.form__reset:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.form__reset:focus {
  outline: 0;
}

.form__reset:active {
  border-color: #3398dc;
  background-color: rgba(0, 0, 0, 0.5);
}