:root {
  --green: #198754;
  --yellow: #ffc107;
  --red: #dc3545;
  --sky-blue: #0dcaf0;
  --blue: #0d6efd;
  --light: #f8f9fa;
  --dark: #160c28;
  --accent: #ffc107;
  --title: 32px;
  --text: 18px;
  --icon-text: 14px;
  --big-gap: 32px;
  --middle-gap: 16px;
  --small-gap: 8px;
}

@media screen and (max-width: 425px) {
  :root {
    --title: 20px;
    --text: 14px;
    --icon-text: 10px;
  }
}

.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  gap: var(--big-gap);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Inter", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: var(--dark);
  color: var(--light);
  font-size: var(--text);
  line-height: 1.2;
}

* {
  box-sizing: border-box;
  outline: 1px dotted tomato;
}

*::selection {
  background-color: var(--accent);
  color: var(--dark);
}
