.main {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--big-gap);
  padding: var(--middle-gap);
}
