@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.nothing-error {
  display: flex;
  flex-direction: column;
  gap: var(--big-gap);
  align-items: center;
  justify-content: center;
  font-size: var(--title);
  flex-grow: 1;

  &__text {
    margin: 0;
  }

  &__image {
    animation: shake .5s;
  }
}