.form__details-model {
    /* text-decoration: underline; */
    border-bottom: 2px solid transparent;
    display: inline-block;
    margin: 5px 5px 5px 5px;
}

.form__details-model:hover {
    cursor: pointer;
    border-color: rgba(0, 255, 106, 1);
}