.search-info {
  background-color: var(--black);
  width: 100%;
  text-align: center;
  border-radius: var(--border-radius);
  padding: var(--middle-gap);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--middle-gap);

  &_danger {
    background-color: var(--red);
  }

  &_success {
    background-color: var(--green);
  }

  &__title {
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: var(--text);
  }

  &__badge {
    padding: var(--small-gap);
    border-radius: var(--border-radius);
    transition: all 0.2s ease;
    background-color: var(--yellow);
    color: var(--black);

    &_danger {
      background-color: var(--red);
      color: var(--light);
    }

    &_success {
      background-color: var(--green);
      color: var(--light);
    }

    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }

    &:active {
      transform: scale(0.98);
    }

    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: var(--middle-gap);
      width: 100%;
    }
  }

  &__link {
    color: var(--light);
    // text-decoration: none;
    transition: all 0.2s ease;
    padding: var(--border-radius);

    &:hover {
      opacity: 0.8;
    }

    &:active {
      transform: scale(0.98);
    }
  }

  &__substitute {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--middle-gap);

    &-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--middle-gap);
    }
  }
}

@media screen and (max-width: 768px) {
  .search-info {
    &__substitute {
      &-container {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}