.form__input {
  width: 100%;
  background-color: transparent;
  border: 0;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  padding: 10px 0 10px 17px;
  border-radius: 10px;
}

.form__input::placeholder {
  color: lightslategray;
}

.form__input:focus {
  outline: 0;
}