.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  padding: 36px;
  max-width: 1440px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: var(--dark);
}

.header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header__link {
  padding: 10px 10px;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
  border-bottom: 3px solid transparent;
}

.header__link:hover {
  color: var(--green);
  border-color: var(--green);
  opacity: .5;
}

.header__link_active {
  color: var(--green);
  border-color: var(--green);
  font-weight: 500;
}

.header__customizer-container {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.header__customizer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-weight: 500;
  font-size: 18px;
  border: 1px dashed var(--light);
  border-radius: 8px;
  padding: 8px;
}

.header__customizer label {
  margin: 0;
  font-size: 24px;
  line-height: 1.2;
}