.header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--big-gap);
  padding: 36px;
  max-width: 1440px;
  margin: 0 auto;
  /* justify-self: start; */
  /* position: fixed;
  top: 0;
  left: 50%; */
  /* transform: translate(-50%); */
  background-color: var(--dark);
  font-size: var(--text);
  line-height: 1.2;
}

.header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--big-gap);
}

.header__link {
  padding: 10px 10px;
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
  border-bottom: 3px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--small-gap);
}

.header__link:hover {
  color: var(--accent);
  border-color: var(--accent);
  opacity: 0.5;
}

.header__link_active {
  color: var(--accent);
  border-color: var(--accent);
  font-weight: 500;
}

/* .header__indicator-container {
  display: flex;
  align-items: center;
  justify-content: center;
} */
