.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--big-gap);
  padding: var(--middle-gap);
  max-width: 1440px;
  margin: 0 auto;

  &__logo {
    width: 100px;
  }

  &__logo-link {
    text-decoration: none;
    transition: all 0.2s ease;

    &:hover {
      transform: scale(1.02);
    }

    &:active {
      transform: scale(0.98)
    }
  }

  &__navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--big-gap);
  }

  &__link {
    padding: 10px 10px;
    text-decoration: none;
    color: var(--light);
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--middle-gap);
    border-radius: 4px;
    max-height: 42px;

    &:hover {
      color: var(--accent);
    }
    
    &_active {
      color: var(--dark);
      background-color: var(--accent);

      &:hover {
        color: var(--dark)
      }
    }

  }
}

@media screen and (max-width: 425px) {
  .header {
    padding: 16px;

    &__navigation {
      width: 100%;
      justify-content: space-evenly;
    }

    &__logo-link {
      text-decoration: none;
      margin: 0 auto;
      transition: all 0.2s ease;
    }
  }
}
