.toast__title {
  font-weight: 500;
}

.toast__body, .toast__subtitle {
  font-size: var(--icon-text);
}

.toast__body {
  display: flex;
  flex-direction: column;
  gap: var(--middle-gap);
}

.toast__title {
  font-size: var(--text)
}

.toast__link {
  display: block;
  color: var(--accent);
  text-decoration: none;
}

.toast__link:hover {
  color: var(--accent);
  opacity: 0.8;
}