.footer {
  padding: 32px;
  width: 100%;
  max-width: 1440px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--middle-gap);
  text-align: center;

  &__accent {
    color: var(--accent);
  }
}

@media screen and (max-width: 425px) {
  .footer {
    flex-direction: column;
    padding: 16px;
  }
}
