.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  padding: 0 32px;
}

.search__title {
  width: 100%;
  display: flex;
  font-size: var(--title);
  justify-content: center;
  margin: 0 !important;
}

.search__input {
  /* padding: 12px; */
  font-size: var(--text);
}

.search__similar-models {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--middle-gap);
  flex-wrap: wrap;
  /* padding: 16px 0; */
}

.search__badge {
  padding: 8px 12px;
  font-weight: 400;
  font-size: var(--text);
  transition: all 0.2s ease;
}

.search__badge:hover {
  opacity: 0.8;
  cursor: pointer;
}

.search__link {
  background-color: var(--accent);
  color: var(--light);
  text-decoration: none;
  padding: 18px 16px;
  text-align: center;
  transition: all 0.2s ease;
}

.search__link:hover {
  opacity: 0.8;
  color: var(--light);
}

.search__relevance {
  text-align: center;
  margin: 0;
  width: 100%;
  padding: var(--middle-gap);
  font-weight: 400;
  font-size: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--middle-gap);
  white-space: initial;
}

.search__relevance-link {
  width: 100%;
  color: var(--light);
  font-weight: 400;
  transition: all 0.2s ease;
}

.search__relevance-link:hover {
  opacity: 0.8;
  color: var(--light);
}

.search__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--middle-gap);
  margin: 0;
}

.search__result-title {
  font-weight: 400;
  font-size: var(--text);
  margin: 0;
  display: flex;
  align-items: center;
  gap: var(--small-gap);
}

.search__relevance-container {
  display: flex;
  align-items: center;
  gap: var(--middle-gap);
}

.search__substitute {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--middle-gap);
}

.search__substitute-text {
  padding: 0 !important;
}

.search__substitute-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--middle-gap);
  flex-wrap: wrap;
}

.search__input-container {
  width: 100%;
  display: flex;
  gap: var(--middle-gap);
  /* align-items: center; */
}

.search__input-button {
  font-size: var(--text);
  min-width: 160px;
  width: 30%;
}

@media screen and (max-width: 425px) {
  .search {
    width: 100%;
    padding: 0 16px;
  }
  .search__input-container {
    flex-direction: column;
  }
  .search__input-button {
    width: 100%;
  }
}
