.search {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
}

.search__title {
  width: 100%;
  display: flex;
  font-size: var(--title);
  justify-content: center;
}

.search__input {
  padding: 12px;
  font-size: var(--text);
}

.search__similar-models {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--middle-gap);
  flex-wrap: wrap;
  padding: 16px 0;
}

.search__badge {
  padding: 8px 12px;
  font-weight: 400;
  font-size: var(--text);
  transition: all 0.2s ease
}

.search__badge:hover {
  opacity: .8;
  cursor: pointer;
}

.search__link {
  background-color: var(--accent);
  color: var(--light);
  text-decoration: none;
  padding: 18px 16px;
  text-align: center;
  transition: all 0.2s ease;
}

.search__link:hover {
  opacity: 0.8;
  color: var(--light);
}

.search__relevance {
  text-align: center;
}