.search {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--small-gap);
  padding: 0 32px;

  &__title {
    width: 100%;
    display: flex;
    font-size: var(--title);
    justify-content: center;
    margin: 0 !important;
  }

  &__input {
    /* padding: 12px; */
    font-size: var(--text);

    &-container {
      width: 100%;
      display: flex;
      gap: var(--middle-gap);
      /* align-items: center; */
    }

    &-button {
      font-size: var(--text);
      min-width: 160px;
      width: 30%;
    }
  }

  &__similar-models {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--middle-gap);
    flex-wrap: wrap;
    /* padding: 16px 0; */
  }

  &__badge {
    padding: 8px 12px;
    font-weight: 400;
    font-size: var(--text);
    transition: all 0.2s ease;
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }

  &__link {
    background-color: var(--accent);
    color: var(--light);
    text-decoration: none;
    padding: 18px 16px;
    text-align: center;
    transition: all 0.2s ease;
    &:hover {
      opacity: 0.8;
      color: var(--light);
    }
  }

  &__relevance {
    text-align: center;
    margin: 0;
    width: 100%;
    padding: var(--middle-gap);
    font-weight: 400;
    font-size: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--middle-gap);
    white-space: initial;

    &-container {
      display: flex;
      align-items: center;
      gap: var(--middle-gap);
    }

    &-link {
      width: 100%;
      color: var(--light);
      font-weight: 400;
      transition: all 0.2s ease;
      
      &:hover {
        opacity: 0.8;
        color: var(--light);
      }
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--middle-gap);
    margin: 0;
  }

  &__result-title {
    font-weight: 400;
    font-size: var(--text);
    margin: 0;
    display: flex;
    align-items: center;
    gap: var(--small-gap);
  }

  &__substitute {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--middle-gap);

    &-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--middle-gap);
      flex-wrap: wrap;
    }

    &-text {
      padding: 0 !important;
    }    
  }
  
}

@media screen and (max-width: 425px) {
  .search {
    width: 100%;
    padding: 0 16px;

    &__input-container {
      flex-direction: column;
    }

    &__input-button {
      width: 100%;
    }
  }
}
