@import url(./__button/form__button.css);
@import url(./__fieldset/form__fieldset.css);
@import url(./__input/form__input.css);
@import url(./__input/_success/form__input_success.css);
@import url(./__input/_error/form__input_error.css);
@import url(./__input/_warning/form___input_warning.css);
@import url(./__info/form__info.css);
@import url(./__info/_category/form__info_category.css);
@import url(./__info/_link/form__info_link.css);
@import url(./__info/_product/form__info_product.css);
@import url(./__info/_replacement/form__info_replacement.css);
@import url(./__info/_result/form__info_result.css);
@import url(./__details/form__details.css);
@import url(./__details-title/form__details-title.css);
@import url(./__details-text/form__details-text.css);
@import url(./__details-model/form__details-model.css);
@import url(./__details-similar/form__details-similar.css);
@import url(./__info/_danger/form__info_danger.css);
@import url(./__reset/form__reset.css);

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 50%;
  max-width: 80%;
  background-color: transparent;
  border-radius: 20px;
  padding: 10px;
}
